:root {
   --main-bg-red: #ea281e;
   --main-bg-blue: #1e76ea;
   --main-bg-green: #30a52a;
   --main-bg-orange: #c8691c;
   --main-bg-black: #000;
   --main-bg-white: #fff;
   --main-bg-yellow: #cbd660;
   --main-bg-brown: #825f45;
   --nav-height: 72px;
}

html {
   color: white;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   font-size: 16px;
}

html,
body,
#__next {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   width: 100%;
   height: var(--app-height);
}

#__next {
   display: grid;
   grid-template-rows: var(--nav-height) 1fr;
}

*::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
   background-color: transparent;
   -webkit-box-shadow: none !important;
}
*::-webkit-scrollbar-thumb {
   border-radius: 16px;
}

body {
   background: #000000;
   overscroll-behavior: none;
   overflow-x: hidden;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   text-decoration: none;
}

*::-webkit-media-controls-start-playback-button {
   display: none !important;
   -webkit-appearance: none;
}

#siteContent {
   width: 100%;
   height: 100%;
   max-height: calc(100vh - var(--nav-height));
   max-width: 100vw;
   display: flex;
   justify-content: center;
}

#menuBtn {
   padding: 0;
   cursor: pointer;
   position: relative;
   display: flex;
   justify-content: right;
   align-items: center;
}

#homeBtn {
   padding: 0;
   cursor: pointer;
   position: relative;
   display: flex;
   justify-content: left;
   align-items: center;
}

.mySwiperHome {
   width: 100%;
   height: 100vh;
   padding: 0;
}

.mySwiperHome .swiper-slide {
   width: 100%;
   max-height: 40vh;
   display: flex;
   scroll-snap-align: none;
}

.mySwiperID,
.onClickSwiper {
   width: 100%;
   height: 100%;
   padding: 0;
   justify-content: center;
   display: flex;
}

/* .mySwiperID .swiper-wrapper {
   justify-content: center;
} */

.mySwiperID .mySwiperSlide,
.mySwiperID .swiper-slide {
   display: flex;
   width: fit-content;
   align-items: flex-end;
   justify-content: center;
}

.mySwiperSlide img {
   object-fit: cover;
   height: auto;
   width: 100%;
}

.onClickSwiper .swiperSlideModal {
   display: flex;
   justify-content: center;
}

.onClickSwiper .swiperSlideModal img {
   max-width: 100%;
   width: auto;
   height: 100%;
   object-fit: contain;
   position: absolute;
   pointer-events: none;
}

@media (max-width: 1540px) {
   .mySwiperSlide {
      width: 100%;
   }

   .mySwiperID .swiper-slide {
      align-items: center;
   }
}

@media (max-width: 840px) {
   .mySwiperSlide {
      width: 100%;
   }

   .mySwiperID .swiper-slide {
      max-width: none !important;
   }
}

@media (min-width: 1080px) {
   .mySwiperSlide img {
      height: 100%;
   }
}

.activeLink span {
   color: blue;
   text-decoration: overline;
   font-style: italic;
}

.imageViewerContainer {
   padding: 0px;
   display: grid;
   grid-template-rows: 2fr 0.1fr;
   flex-direction: column;
   background-color: transparent;
   height: 100%;
   width: 100%;
}

.projectDiv {
   /* display: flex; */
   /* flex-direction: column; */
   height: 100%;
   width: 100%;
   /* position: absolute !important; */
   top: 0;
   left: 0;
   display: grid !important;
   grid-template-rows: 8fr 2fr;
}
