:root {
    --main-bg-red: #ea281e;
    --main-bg-blue: #1e76ea;
    --main-bg-green: #30a52a;
    --main-bg-orange: #c8691c;
    --main-bg-black: #000;
    --main-bg-white: #fff;
    --main-bg-yellow: #cbd660;
    --main-bg-brown: #825f45;
    --app-height: 100%;
}

html {
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

html,
body,
#__next {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: var(--app-height);
}

body {
    font-family: CircularStd-Book, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, sans-serif, "Shizuru", cursive;
    background: #000000;
    overscroll-behavior: none;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    text-decoration: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.siteContent {
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    position: fixed;
    box-sizing: border-box;
}

#menuBtn {
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

#homeBtn {
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mySwiperHome {
    width: 100%;
    height: 100vh;
    padding: 0;
}
/* 
.mySwiperHome .swiper-wrapper {
} 
*/

.mySwiperHome .swiper-slide {
    width: 100%;
    max-height: 40vh;
    display: flex;
    scroll-snap-align: none;
    border: 2px solid blue;
}

.mySwiperID {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-right: 10em;
}

.mySwiperID .mySwiperSlide {
    min-width: fit-content;
    width: 50%;
    display: flex;
}

.mySwiperID .swiper-slide {
    height: 95%;
    width: fit-content;
    margin: 0.5em;
    padding: 0.5em 0;
    max-width: 70vw;
    width: auto;
}

.mySwiperID .mySwiperSlide__info {
    max-width: 35vw;
    min-width: 20vw;
    width: auto;
}

.mySwiperID .mySwiperSlide__end {
    width: 15vw;
    display: flex;
}

.activeLink span {
    color: blue;
    text-decoration: overline;
    font-style: italic;
}
