.mainWrapper {
    width: 100vw;
    height: 100vh;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow: hidden;
}

.sliding__background {
    /* background: url("../public/images/lojay.JPG") repeat-x; */
    width: 100%;
    height: 300%;
    border: 2px solid red;
}

.imageComponent {
    object-fit: contain;
    width: 100%;
    height: 100%;
    /* z-index: 100; */
}

.scrollWrapper {
    position: relative;
    z-index: 10;
    animation: slide 10s linear infinite;
}

.imgWrapper {
    width: 25vw;
    height: 40vh;
}

/* @media only screen and (max-width: 1024px) {
    .imageComponent {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
} */

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -1000px, 0); /* The image width */
    }
}
