.navbar {
    display: flex;
    width: 100vw;
    position: fixed;
    z-index: 50;
}

.navbarContent {
    height: 100vh;
    width: 100%;
    margin: none;
    padding: none;
    overflow: none;
}

.navbarLinks {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    height: 80%;
}

.page {
    /* display: block; */
    height: 10vh;
    width: 100%;
    font-size: 4.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    position: relative;
}

.projects {
    left: 50%;
}

.about {
    left: 0.5rem;
}

.contact {
    right: 1rem;
}

.menuBtnWrapper {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.menuBtnWrapper > div{
    height: 5vh;
}

.homepage {
    width: 100%;
    font-family: 'The Nautigal', cursive;
    font-size: 3rem;
    position: relative;
}

.svgt {
    filter: invert(0.8);
}
