.projectWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 70vh;
    z-index: 5;
    padding: 10px;
    padding-top: 10vh;
}

.projectList {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 100px 10px 0 30px;
}

.projectContainer {
    display: block;
    width: 100%;
    height: auto;
}

.project {
    display: block;
    height: 10vh;
    width: 100%;
    font-size:2rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    position: relative;
}

.projectImagesWrapper {
    display: inline-block;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-color:none;

}

.projectImageWrapper {
    /* overflow: hidden; */
    position: relative;
    height: 100%;
}

.image {
    padding: 10px 0;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* opacity: 0.5; */
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
