@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --main-bg-red: #ea281e;
        --main-bg-blue: #1e76ea;
        --main-bg-green: #30a52a;
        --main-bg-orange: #c8691c;
        --main-bg-black: #000;
        --main-bg-white: #fff;
        --main-bg-yellow: #cbd660;
        --main-bg-brown: #825f45;
        --nav-height: 72px;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .image-hover {
        @apply hover:border-4 hover:border-blue-400 hover:bg-blue-400;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.swiper-pagination-progressbar {
    bottom: 0 !important;
    top: unset !important;
    height: 8px !important;
}

.swiper-mypagination {
    svg {
        width: 3rem;
        height: 3rem;
        path {
            fill: red;
        }
    }
}

.swiper-slide {
    height: unset !important;
}

.autoplay-progress,
.autoplay-progress2 {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.autoplay-progress2 svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    /* transform: translateX(var(--progress)); */
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.loadingBanner {
    z-index: 12;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: red;
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .text {
        width: fit-content;
        font-size: 5em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 40px;
        font-weight: 700;
        color: #fff;
        mix-blend-mode: difference;
        z-index: 12;
        overflow: hidden;
        white-space: nowrap;
        animation: textShadow 1s ease-in-out infinite;
        line-height: 2;
        @media (max-width: 1050px) {
            font-size: 3em;
            letter-spacing: 20px;
        }
        @media (max-width: 600px) {
            font-size: 2em;
            letter-spacing: 10px;
        }
        @media (max-width: 400px) {
            font-size: 1.5em;
            letter-spacing: 5px;
        }
    }
    span {
        height: 2em;
        width: 2em;
        z-index: 12;
        margin: 0.2em;
        background: blue;
        border-radius: 100%;
    }

    @media (prefers-reduced-motion: reduce) {
        * {
            animation: none !important;
            transition: none !important;
        }
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0 0 0 var(--main-bg-red), 0 0 0 var(--main-bg-blue),
            0 0 0 var(--main-bg-green), 0 0 0 var(--main-bg-orange);
    }

    20% {
        text-shadow: 0 0.125em 0 var(--main-bg-red),
            0 0.25em 0 var(--main-bg-blue), 0 -0.125em 0 var(--main-bg-green),
            0 -0.25em 0 var(--main-bg-orange);
    }

    40% {
        text-shadow: 0 -0.0625em 0 var(--main-bg-red),
            0 -0.125em 0 var(--main-bg-blue), 0 0.0625em 0 var(--main-bg-green),
            0 0.125em 0 var(--main-bg-orange);
    }

    60% {
        text-shadow: 0 0.03125em 0 var(--main-bg-red),
            0 0.0625em 0 var(--main-bg-blue),
            0 -0.03125em 0 var(--main-bg-green),
            0 -0.0625em 0 var(--main-bg-orange);
    }

    80% {
        text-shadow: 0 0 0 var(--main-bg-red), 0 0 0 var(--main-bg-blue),
            0 0 0 var(--main-bg-green), 0 0 0 var(--main-bg-orange);
    }
}
